.icon-add {
    background: #46cd66;
    border-radius: 100%;
    color: white;
    margin-right: 10px !important;
}

.icon-remove {
    background: #e75564;
    border-radius: 100%;
    color: white;
}